PORT=3000

# PostgreSQL
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_SSL=true

# JWT
ACCESS_TOKEN_SECRET=

# URL DEL FRONTEND
CLIENT_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email (Resend)

RESEND_API_KEY=

MAIL_FROM=BajoVigilancia <noreply@bajovigilancia.com>

# Password Reset

PASSWORD_RESET_SECRET=

PASSWORD_RESET_EXPIRES=15m

# Entorno de ejecución
NODE_ENV=development
# SEED
RUN_SEED=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=